<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>MobiLeLeLe</title>
        <link rel="stylesheet" href="/css/reset-css.css"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <script src="/js/jquery-3.5.1.slim.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <style th:replace="~{fragments/navbar::style}"></style>
    </head>

    <body>

        <div th:replace="~{fragments/navbar::navbar(activeLink=${'register'})}"></div>

        <div class="container content">
            <h2 class="text-center text-white">Register User</h2>
            <form th:method="POST"
                  th:action="@{/users/register}"
                  th:object="${registerDTO}"
                  class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label th:for="firstName" class="text-white font-weight-bold">First Name</label>
                        <input th:field="*{firstName}"
                               th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid bg-danger'"
                               type="text" min="2" max="20"
                               class="form-control"
                               placeholder="First name"/>

                        <small class="invalid-feedback text-danger" th:each="msg: ${#fields.errors('firstName')}" th:text="${msg}"></small>

                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label th:for="lastName" class="text-white font-weight-bold">Last Name</label>
                        <input th:field="*{lastName}"
                               th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid bg-danger'"
                               type="text" min="2" max="20" class="form-control"
                               placeholder="Last name"/>

                        <small class="invalid-feedback text-danger" th:each="msg: ${#fields.errors('lastName')}" th:text="${msg}"></small>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label th:for="username" class="text-white font-weight-bold">Username</label>
                        <input th:field="*{username}"
                               th:classappend="${#fields.hasErrors('username')} ? 'is-invalid bg-danger'"
                               type="text" min="2" max="20" class="form-control"
                               placeholder="Username"/>

                        <small class="invalid-feedback text-danger" th:each="msg: ${#fields.errors('username')}" th:text="${msg}"></small>
                        <small class="text-danger" th:if="${usernameExistsError}" th:text="${usernameExistsError}"></small>
                    </div>

                    <div class="form-group col-md-6 mb-3">
                        <label th:for="password" class="text-white font-weight-bold">Password</label>
                        <input th:field="*{password}"
                               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid bg-danger'"
                               type="password" min="2" max="20" class="form-control"
                               placeholder="Password"/>

                        <small class="invalid-feedback text-danger" th:each="msg: ${#fields.errors('password')}" th:text="${msg}"></small>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label th:for="email" class="text-white font-weight-bold">Email</label>
                        <input th:field="*{email}"
                               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid bg-danger'"
                               type="email" min="2" max="20" class="form-control"
                               placeholder="Email"/>

                        <small class="invalid-feedback text-danger" th:each="msg: ${#fields.errors('email')}" th:text="${msg}"></small>
                        <small class="text-danger" th:if="${emailExistsError}" th:text="${emailExistsError}"></small>

                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label th:for="age" class="text-white font-weight-bold">Age</label>
                        <input th:field="*{age}"
                               th:classappend="${#fields.hasErrors('age')} ? 'is-invalid bg-danger'"
                               type="number" min="18" max="100" class="form-control"
                               placeholder="Age"/>

                        <small class="invalid-feedback text-danger" th:each="msg: ${#fields.errors('age')}" th:text="${msg}"></small>

                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-4">
                        <div class="button-holder d-flex">
                            <input type="submit" class="btn btn-info btn-lg" value="Register!"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <footer th:replace="~{fragments/footer::footer}"> </footer>
        </div>

    </body>
</html>
